@import "base";

#wrapper {
  width:960px;
  margin:0 auto;
}

h2.repository {
  font-weight:normal;
  font-size:30px;

  a {
    color:@gray;
    border:0;
    .user, .repo {
      color: @text;
      font-weight:bold;
    }
  }
}

pre {
  .color-red { color: @term-red; }
  .color-green { color: @term-green; }
  .color-yellow { color: @term-yellow; }
  .color-blue { color: @term-blue; }
  .color-purple { color: @term-red; }
  .color-cyan { color: @term-cyan; }
  .style-bold { font-weight: 700; }
  .style-underline { text-decoration:underline; }
}