.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clearfix{height:1%;}
*:first-child+html .clearfix{min-height:1%;}
body{font-family:'Helvetica','Helvetica Neue',sans-serif;margin:0;color:#333333;font-size:16px;line-height:1.5em;word-spacing:0.1em;font-weight:400;background:#f9f9f9;}
input,textarea,select,td,th{font-family:'Helvetica','Helvetica Neue',sans-serif;font-size:16px;color:#333333;}
a{text-decoration:none;color:#333333;}a img{border:0;}
code{font-family:Menlo,'Bitstream Vera Sans Mono',Monaco,monospace;font-size:14px;font-style:normal;word-spacing:0;background:#eaeaea;padding-bottom:2px;padding-top:3px;}
.code,pre{font-family:Menlo,'Bitstream Vera Sans Mono',Monaco,monospace;word-spacing:0;font-size:12px;font-style:normal;line-height:15px;overflow:auto;margin:0 0 8px 0;background:#ffffff;padding:4px 6px;color:#555;}.code code,pre code{background:none;font-size:inherit;padding:0;}
a{border-bottom:1px solid #999;}a:hover{border-color:transparent;background:#eaeaea;}
#wrapper{width:960px;margin:0 auto;}
h2.repository{font-weight:normal;font-size:30px;}h2.repository a{color:#999999;border:0;}h2.repository a .user,h2.repository a .repo{color:#333333;font-weight:bold;}
pre .color-red{color:red;}
pre .color-green{color:green;}
pre .color-yellow{color:yellow;}
pre .color-blue{color:blue;}
pre .color-purple{color:red;}
pre .color-cyan{color:cyan;}
pre .style-bold{font-weight:700;}
pre .style-underline{text-decoration:underline;}
